[Desktop Entry]
Version=1.0
Type=Application
Name=CalculateIT
Exec=calculateit
Icon=/usr/share/icons/calculateit/calculateit_icon.gif
Categories=Utility;
Terminal=false
StartupNotify=true
StartupWMClass=calculateit